/* =================================================== General */
body {
    position: relative;
    margin: 0;
    background-image: url("img/tictactoe-bg.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 35px;
    color: #33a2c3;
    font-weight: 100;
    text-shadow:
        0 0 7px #313090,
        0 0 10px #313090,
        0 0 21px #313090,
        0 0 42px #313090,
        0 0 82px #313090,
        0 0 92px #313090,
        0 0 102px #313090,
        0 0 151px rgb(49, 48, 144);
}

p {
    font-size: 1.3rem;
    color: white;
    text-align: center;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.players-turn {
    position: relative;
    height: 20px;
    padding-left: 5px;
    filter: invert(57%) sepia(94%) saturate(375%) hue-rotate(149deg) brightness(82%) contrast(82%);
}

/* =================================================== Table */
#grid {
    position: relative;
    width: 466px;
}

table {
    position: absolute;
    top: 288px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    border-collapse: collapse;
}

td {
    width: 150px;
    border: 2px solid #33a2c3;
    height: 150px;
    position: relative;
    cursor: pointer;
}

td:hover {
    background-color: rgb(54 49 49 / 50%);
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.position {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 25px;
    left: 25px;
}

.d-none {
    display: none !important;
}

/* ===================================================Line Animation */
.horizontal-line {
    position: absolute;
    width: 390px;
    height: 7px;
    left: 33px;
    background-color: rgb(51, 162, 195);
    box-shadow: 0px 0px 17px 14px rgba(49, 48, 144, 0.5);
    border-radius: 20px;
    z-index: 1;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.to-vertical-line {
    top: 284px;
    transform: rotate(90deg) scale(0.0);
}

.to-diagonal-line {
    left: -21px;
    top: 284.5px;
    width: 500px;
}

/* =================================================== Game Over */
.game-over-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: zoomIn 225ms ease-in-out;
}

@keyframes zoomIn{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.game-over-img {
    height: 200px;
    padding-bottom: 40px;
}

#game-over-p {
    font-size: 30px;
    padding: 0;
}

.winner {
    position: relative;
    height: 30px;
    padding: 0 5px;
    filter: invert(57%) sepia(94%) saturate(375%) hue-rotate(149deg) brightness(82%) contrast(82%);
}

#reset {
    background-color: rgb(221, 74, 219);
    border: 2px solid rgb(221, 74, 219);
    border-radius: 10px;
    height: 60px;
    width: inherit;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#reset:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/* =================================================== Responsive */
@media (max-width: 500px) {
    h1 {
        font-size: 25px;
    }

    p {
        font-size: 1rem;
    }

    #grid {
        width: 320px;
    }

    td {
        width: 100px;
        height: 120px;
    }

    .position {
        height: 80px;
        width: 80px;
        top: 21px;
        left: 12px;
    }

    
    .horizontal-line {
        /* margin-top: 150px; */
        width: 280px;
        left: 17px;
        height: 5px;
    } 

    .to.to-diagonal-line {
        width: 352px;
        left: -20px;
    }


    /* Game Over / End Screen  */
    #game-over-p {
        font-size: 20px;
    }

    .game-over-img {
        height: 140px;
    }

    #reset {
        height: 45px;
        font-size: 20px;

    }
}